@page "/cercaindirizzo"

<!-- CODEPOINT:03 istruzioni using -->

<h1>Blazing Google Maps: cerca indirizzo</h1>

<!-- CODEPOINT:04 box di ricerca -->


<!-- CODEPOINT:05 mappa di Google -->


@functions {

    ///<!--  CODEPOINT:06 variabili locali -->
    

    ///<!-- CODEPOINT:07 metodo OnInitialized -->


    ///<!-- CODEPOINT:08 metodo OnAfterMapInit -->


    ///<!-- CODEPOINT:09 metodo Search -->

}