@page "/"
<base href="~/" />
<p>
    <h1>Benvenuti in Blazing Google Maps!</h1>
    <h3>Come utilizzare Google Maps nelle applicazioni Blazor</h3>
</p>
<div class="card" style="width: 60rem;">
    <img src="/images/BlazingCodeWelcome.jpg" class="card-img-top" alt="Blazing Google Maps!">
</div>